.hero {
    position: relative;
    .hero__media {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: auto;
        object-fit: cover;
        img {
            height: 100%;
            width: 100%;
            opacity: 50%;
            transform: rotate(20deg);
            object-fit: contain;
        }

        @media (width <= $breakpoint-sm) {
            width: 70%;
        }
    }

    .hero__content {
        position: relative;
        z-index: 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        align-items: center;
        height: 100%;

        @media (width <= $breakpoint-sm) {
            grid-template-columns: 1fr;
            gap: 0;
            margin-top: 50px;
        }
    }

    .content_text {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
    }

    .content_media {
        height: 100%;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .content__projet {
        display: flex;
        flex-direction: column;

        p {
            width: 300px;
        }
    }
}
