.section {
    padding: 100px 0;

    @media (width <= $breakpoint-sm) {
        padding: 50px 0;
    }
}

// Pour la section Outils dans la page À propos
.outils {
    position: relative;
    z-index: 4;
    background-color: var(--color-bg-secondary);

    .outils__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
        width: 55%;

        @media (width <= $breakpoint-sm) {
            width: 100%;
        }
    }

    h2,
    p,
    .icon {
        color: var(--color-white);
    }

    .outils__plus {
        display: flex;
        justify-content: space-between;
        width: 90%;

        h2 {
            font-weight: 700;
        }

        @media (width <= $breakpoint-sm) {
            flex-direction: column;
            gap: 60px;
        }
    }

    .outil {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .icones {
            display: flex;
            align-items: center;
            gap: 30px;
        }
    }
}

// Pour la section Moi dans la page À propos
.moi {
    position: relative;
    overflow: hidden;
    .moi__media {
        position: absolute;
        top: 0;
        right: 0;
        width: 40%;
        height: auto;
        object-fit: cover;
        img {
            height: 100%;
            width: 100%;
            opacity: 50%;
            transform: rotate(-20deg);
            object-fit: contain;
        }

        @media (width <= $breakpoint-sm) {
            width: 80%;
        }
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .moi__content {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 60px;
        width: 60%;

        @media (width <= $breakpoint-sm) {
            width: 100%;
        }
    }

    .moi__content_suite {
        position: relative;
        width: 70%;
        display: flex;
        justify-content: space-between;

        @media (width <= $breakpoint-sm) {
            flex-direction: column;
            gap: 60px;
        }
    }

    .moi_compose {
        display: flex;
        flex-direction: column;
        gap: 30px;

        span {
            font-weight: 700;
        }

        .points__moi {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
            row-gap: 60px;

            @media (width <= $breakpoint-md) {
                grid-template-columns: 1fr;
                row-gap: 30px;
            }
        }

        p {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}

// Pour la section Video dans la page À propos
.video {
    background-color: var(--color-bg-secondary);
    position: relative;

    h2 {
        color: var(--color-white);
    }

    .video_presentation {
        margin: 100px 0;
        position: relative;
        height: 600px;
        width: 100%;
        border: 2px solid var(--color-black);
        border-radius: 20px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        .icon {
            position: absolute;
            top: 45%;
            left: 50%;
            color: var(--color-white);
            transition: all 0.4s ease-in-out;
        }

        &:hover {
            .icon {
                transform: scale(2);
            }
        }

        @media (width <= $breakpoint-sm) {
            height: 100%;
        }
    }
}

// Pour la section Candidature dans la page À propos
.candidature {
    padding-bottom: 0;
    overflow: hidden;
    .wrapper {
        position: relative;
        z-index: 3;
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 50px;
        align-items: center;
        height: 100%;

        @media (width <= $breakpoint-sm) {
            grid-template-columns: 1fr;
            gap: 0;
        }
    }

    .candidature__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
    }

    .content_text {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .candidature__media {
        height: 100%;
        display: flex;
        justify-content: end;
        img {
            height: 100%;
            object-fit: cover;
        }

        @media (width <= $breakpoint-sm) {
            justify-content: center;
        }
    }
}

// Css dédier à la page de projets

.grille__projets {
    position: relative;
}

// Css dédier à la page détail projet

.description {
    background-color: var(--color-bg-secondary);

    h2,
    h3,
    p,
    .icon {
        color: var(--color-white);
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 80px;

        @media (width <= $breakpoint-md) {
            grid-template-columns: 1fr;
            gap: 50px;
        }
    }

    .description__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
    }

    .utilisations {
        display: flex;
        gap: 60px;

        @media (width <= $breakpoint-sm) {
            flex-direction: column;
        }
    }

    .utilisation {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .icones_utilisation {
        display: flex;
        gap: 20px;
    }

    .ia {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .description__media {
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }

        p {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 20px;
            width: 100%;
            background-color: rgba($color: #000000, $alpha: 0.7);
            transform: translateY(100px);
            transition: all 0.4s ease-in-out;
        }

        &:hover {
            p {
                transform: translateY(0);
            }
        }
    }
}

.credits {
    background-color: var(--color-bg-secondary);
    color: var(--color-white);

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 145px;
    }

    .wrapper:first-child {
        align-self: flex-start;
    }

    .bouton__credits {
        align-self: center;
    }

    .credits__top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    h2 {
        color: var(--color-white);
    }

    .credits_liste {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .liste_trames {
        display: flex;
        gap: 40px;
        align-items: center;

        .trames {
            list-style: none;
            padding: 0;
        }

        @media (width <= $breakpoint-sm) {
            flex-direction: column;
            gap: 0;
            align-items: flex-start;
        }
    }
}
