/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #b7b4d8;
    --color-secondary: #6c68d2;
    --color-tertiary: #050315;

    --color-bg-primary: #eae6dc;
    --color-bg-secondary: #6083c5;
}
