{% include "_partials/_header.html" %}

<section class="hero section">
    <div class="wrapper">
        <div class="hero__content content_detail_projet">
            <div class="content_text content_detail">
                <h1>Boxotel</h1>
                <h2>Developpement web - Projet scolaire</h2>
                <h3>Intégration et developpement HTML, CSS et JS d’un site d’hotel pour réservation</h3>
                <a href="https://felixlapointe13.github.io/boxotel.github.io/" target="_blank" class="bouton">Voir le site</a>
            </div>
            <div class="content_media thumbnail_detail">
                <img src="assets/images/boxotel_thumbnail.jpg" alt="Boxotel" />
            </div>
        </div>
    </div>
</section>

<section class="description section">
    <div class="wrapper">
        <div class="description__text">
            <h2>Qu’est ce que Boxotel?</h2>
            <p>
                Boxotel est une
                <strong>refonte</strong>
                de site web réalisé en duo.
            </p>
            <div class="utilisations">
                <div class="utilisation">
                    <h3>Logiciels utilisés</h3>
                    <div class="icones_utilisation">
                        <svg class="icon icon--slg">
                            <use href="#icon-figma"></use>
                        </svg>
                        <svg class="icon icon--slg">
                            <use href="#icon-vs_code"></use>
                        </svg>
                    </div>
                </div>
                <div class="utilisation">
                    <h3>Languages utilisés</h3>
                    <div class="icones_utilisation">
                        <svg class="icon icon--slg">
                            <use href="#icon-html"></use>
                        </svg>
                        <svg class="icon icon--slg">
                            <use href="#icon-css"></use>
                        </svg>
                        <svg class="icon icon--slg">
                            <use href="#icon-js"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="ia">
                <h3>Utilisation de l’IA</h3>
                <p>Je n’ai pas utilisé l’IA pour ce projet.</p>
            </div>
        </div>
        <div class="description__media">
            <img src="assets/images/boxotel_section.jpg" alt="section espace détente" />
            <p>Le luxe offert pour l'espace détente</p>
        </div>
    </div>
</section>

<section class="carousel section">
    <div class="wrapper">
        <h2>Étapes:</h2>
        <div class="swiper" data-component="Carousel">
            <div class="swiper-wrapper">
                <div class="swiper-slide carte__carousel">
                    <div class="carte__media">
                        <img src="assets/images/boxotel/01-analyse_maquette_boxotel.jpg" alt="Étape 1" />
                        <svg class="icon icone_carousel icon--lg">
                            <use href="#icon-size_up"></use>
                        </svg>
                    </div>
                    <div class="carte__content">
                        <h3>1 — Analyse des différentes parties de la maquette sur Figma</h3>
                        <p>
                            Pour commencer, mon partenaire et moi ont
                            <strong>analysés</strong>
                            et
                            <strong>décortiqués</strong>
                            la maquette de Boxotel pour définir les
                            <strong>sections des pages</strong>
                            et ce que nous avons besoin.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide carte__carousel">
                    <div class="carte__media">
                        <img src="assets/images/boxotel/02-integration_html_boxotel.jpg" alt="Étape 2" />
                        <svg class="icon icone_carousel icon--lg">
                            <use href="#icon-size_up"></use>
                        </svg>
                    </div>
                    <div class="carte__content">
                        <h3>2 — Intégration html du site d'hotêl avec VS Code</h3>
                        <p>
                            Suite à notre analyse, nous conçevons avec du
                            <strong>code html</strong>
                            les pages du site tout en gardant une
                            <strong>bonne organisation</strong>
                            des sections et des classes.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide carte__carousel">
                    <div class="carte__media">
                        <img src="assets/images/boxotel/03-ajout_css_boxotel.jpg" alt="Étape 3" />
                        <svg class="icon icone_carousel icon--lg">
                            <use href="#icon-size_up"></use>
                        </svg>
                    </div>
                    <div class="carte__content">
                        <h3>3 — Ajout du css aux sections et aux classes dans VS Code</h3>
                        <p>
                            Dès que nous avons fini avec l'html, nous poursuivons le progrès en stylisant avec le
                            <strong>css</strong>
                            les quatre pages du site de Boxotel.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide carte__carousel">
                    <div class="carte__media">
                        <img src="assets/images/boxotel/04-programmation_js_boxotel.jpg" alt="Étape 4" />
                        <svg class="icon icone_carousel icon--lg">
                            <use href="#icon-size_up"></use>
                        </svg>
                    </div>
                    <div class="carte__content">
                        <h3>4 — Programmation js et ajustement responsive du site sur VS Code</h3>
                        <p>
                            À la suite des styles, nous poursuivons la construction du site en ajoutant les
                            <strong>composantes js</strong>
                            appropriées et en ajoutent le
                            <strong>responsive</strong>
                            dans nos pages.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide carte__carousel">
                    <div class="carte__media">
                        <img src="assets/images/boxotel/05-resultat_final_boxotel.jpg" alt="Étape 5" />
                        <svg class="icon icone_carousel icon--lg">
                            <use href="#icon-size_up"></use>
                        </svg>
                    </div>
                    <div class="carte__content">
                        <h3>5 - Résultat final de Boxotel via le navigateur au choix</h3>
                        <p>
                            Maintenant que c’est tout finalisé, nous pouvons survoler le site sur un navigateur pour voir les
                            <strong>types de chambres</strong>
                            , les
                            <strong>bonus</strong>
                            de l'espace détente et les
                            <strong>détails</strong>
                            d'une chambre.
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

<section class="credits section">
    <div class="wrapper">
        <div class="credits__top">
            <h2>Crédits:</h2>
            <ul class="credits_liste">
                <li>Félix Lapointe: intégration/developpement web</li>
                <li>Félix Charron: intégration/developpement web</li>
                <li>Tatiana Titov: direction artistique, design et maquette</li>
                <li>Images utilisées: Pexels et autres médias</li>
            </ul>
        </div>
        <div class="bouton__credits">
            <a href="projets.html" class="bouton_secondaire">Voir autres projets</a>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
