{% include "_partials/_header.html" %}

<section class="hero">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/fl_logo.png" alt="Logo Félix" />
        </div>
        <div class="hero__content">
            <div class="content_text">
                <h1>Félix Lapointe</h1>
                <h2>Intégration/Développement web</h2>
                <h3>Je suis un apprenti éternel du html, css et js qui produit et intègre des maquettes de site web.</h3>
            </div>
            <div class="content_media">
                <img src="assets/images/photo_felix.png" alt="profil Félix" />
            </div>
        </div>
    </div>
</section>

<section class="outils">
    <div class="wrapper">
        <h2>La conception et l’intégration d’interface web, ça c’est mon talent!</h2>
        <p>
            Dans mes projets Web, j’aime adapter les sites à
            <strong>différentes thématiques</strong>
            et créer des maquettes. J’apprécie aussi intégrer différents
            <strong>médias</strong>
            , comme la
            <strong>vidéo</strong>
            et la
            <strong>musique</strong>
            , pour rendre un site plus vivant et intéressant.
        </p>
        <div class="outils__plus">
            <div class="languages">
                <h3>Languages</h3>
                <div class="icones">
                    <svg class="icon icon--slg">
                        <use href="#icon-html"></use>
                    </svg>
                    <svg class="icon icon--slg">
                        <use href="#icon-css"></use>
                    </svg>
                    <svg class="icon icon--slg">
                        <use href="#icon-js"></use>
                    </svg>
                </div>
            </div>
            <div class="logiciels">
                <h3>Logiciels</h3>
                <div class="icones">
                    <svg class="icon icon--slg">
                        <use href="#icon-figma"></use>
                    </svg>
                    <svg class="icon icon--slg">
                        <use href="#icon-vs_code"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
