{% include "_partials/_header.html" %}

<section class="hero">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/fl_logo.png" alt="Logo Félix" />
        </div>
        <div class="hero__content">
            <div class="content_text">
                <h1>Félix Lapointe</h1>
                <h2>Intégration/Développement web</h2>
                <h3>Je suis un apprenti éternel du html, css et js qui produit et intègre des maquettes de site web.</h3>
            </div>
            <div class="content_media">
                <img src="assets/images/photo_felix.png" alt="profil Félix" />
            </div>
        </div>
    </div>
</section>

<section class="outils section">
    <div class="wrapper">
        <div class="outils__content">
            <h2>La conception et l’intégration d’interface web, ça c’est mon talent!</h2>
            <p>
                Dans mes projets Web, j’aime adapter les sites à
                <strong>différentes thématiques</strong>
                et créer des maquettes. J’apprécie aussi intégrer différents
                <strong>médias</strong>
                , comme la
                <strong>vidéo</strong>
                et la
                <strong>musique</strong>
                , pour rendre un site plus vivant et intéressant.
            </p>
            <div class="outils__plus">
                <div class="outil">
                    <h2>Languages</h2>
                    <div class="icones">
                        <svg class="icon icon--slg">
                            <use href="#icon-html"></use>
                        </svg>
                        <svg class="icon icon--slg">
                            <use href="#icon-css"></use>
                        </svg>
                        <svg class="icon icon--slg">
                            <use href="#icon-js"></use>
                        </svg>
                    </div>
                </div>
                <div class="outil">
                    <h2>Logiciels</h2>
                    <div class="icones">
                        <svg class="icon icon--slg">
                            <use href="#icon-figma"></use>
                        </svg>
                        <svg class="icon icon--slg">
                            <use href="#icon-vs_code"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="moi section">
    <div class="wrapper">
        <div class="moi__media">
            <img src="assets/images/fl_logo.png" alt="Logo FL" />
        </div>
        <div class="moi__content">
            <h2>Moi personellement</h2>
            <p>
                Après plusieurs
                <strong>changements de programme</strong>
                pour connaître mes
                <strong>options</strong>
                , je suis rentré en
                <strong>technique d’intégration en multimédia</strong>
                où j’ai trouvé ma place.
            </p>
        </div>
        <div class="moi__content_suite">
            <div class="moi_compose">
                <h2>
                    Ce qui me
                    <span>passionne</span>
                </h2>
                <div class="points__moi">
                    <p>
                        <svg class="icon icon--md">
                            <use href="#icon-pokemon"></use>
                        </svg>
                        Pokemon
                    </p>
                    <p>
                        <svg class="icon icon--md">
                            <use href="#icon-cartes"></use>
                        </svg>
                        Cartes à collectionner
                    </p>
                    <p>
                        <svg class="icon icon--md">
                            <use href="#icon-jeu_video"></use>
                        </svg>
                        Jeux vidéos
                    </p>
                    <p>
                        <svg class="icon icon--md">
                            <use href="#icon-musique"></use>
                        </svg>
                        Trames sonores
                    </p>
                </div>
            </div>
            <div class="moi_compose">
                <h2>
                    Ce qui me
                    <span>compose</span>
                </h2>
                <div class="points__moi">
                    <p>
                        <svg class="icon icon--md">
                            <use href="#icon-dossier"></use>
                        </svg>
                        Organisation
                    </p>
                    <p>
                        <svg class="icon icon--md">
                            <use href="#icon-ecouteur"></use>
                        </svg>
                        Écoute active
                    </p>
                    <p>
                        <svg class="icon icon--md">
                            <use href="#icon-equipe"></use>
                        </svg>
                        Esprit d'équipe
                    </p>
                    <p>
                        <svg class="icon icon--md">
                            <use href="#icon-partenaires"></use>
                        </svg>
                        Empathique
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="video section">
    <div class="wrapper">
        <h2>Pas convaincu? Écoutez ma vidéo de présentation</h2>
        <div class="video_presentation">
            <img src="assets/images/vid_thumbnail_v1.jpg" alt="video" />
            <svg class="icon icon--lg">
                <use href="#icon-play"></use>
            </svg>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
