{% include "_partials/_header.html" %}

<section class="hero section">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/fl_logo.png" alt="Logo Félix" />
        </div>
        <div class="hero__content content__projet">
            <h1>Mes projets</h1>
            <p>Une sélection de projets réalisés durant ma formation et mes projets personnels.</p>
        </div>
    </div>
</section>

<section class="grille__projets section">
    <div class="wrapper">
        <div class="cartes">
            <div class="carte">
                <div class="carte__media">
                    <img src="assets/images/project_rival_thumbnail.png" alt="project: Rival" />
                </div>
                <div class="carte__content">
                    <div class="content__projet">
                        <div class="content__texte">
                            <div class="top__content">
                                <h3>Project: Rival</h3>
                                <hr />
                            </div>
                            <p>Développement Web - Projet Personnel</p>
                        </div>
                        <a href="project_rival.html">
                            <svg class="icon icon--slg icone_projet">
                                <use href="#icon-plus"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="carte">
                <div class="carte__media">
                    <img src="assets/images/vgm_entertainment_thumbnail.png" alt="VGM Entertainment" />
                </div>
                <div class="carte__content">
                    <div class="content__projet">
                        <div class="content__texte">
                            <div class="top__content">
                                <h3>VGM Entertainment</h3>
                                <hr />
                            </div>
                            <p>Développement Web - Projet Personnel</p>
                        </div>
                        <a href="">
                            <svg class="icon icon--slg icone_projet">
                                <use href="#icon-plus"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="carte">
                <div class="carte__media">
                    <img src="assets/images/audioverse_thumbnail.png" alt="AudioVerse" />
                </div>
                <div class="carte__content">
                    <div class="content__projet">
                        <div class="content__texte">
                            <div class="top__content">
                                <h3>AudioVerse</h3>
                                <hr />
                            </div>
                            <p>Développement Web - Projet Scolaire</p>
                        </div>
                        <a href="">
                            <svg class="icon icon--slg icone_projet">
                                <use href="#icon-plus"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="carte">
                <div class="carte__media">
                    <img src="assets/images/webjam_v1_thumbnail.png" alt="project: Rival" />
                </div>
                <div class="carte__content">
                    <div class="content__projet">
                        <div class="content__texte">
                            <div class="top__content">
                                <h3>WebJam</h3>
                                <hr />
                            </div>
                            <p>Développement Web - Projet Scolaire</p>
                        </div>
                        <a href="">
                            <svg class="icon icon--slg icone_projet">
                                <use href="#icon-plus"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="carte">
                <div class="carte__media">
                    <img src="assets/images/boxotel_thumbnail.png" alt="Boxotel" />
                </div>
                <div class="carte__content">
                    <div class="content__projet">
                        <div class="content__texte">
                            <div class="top__content">
                                <h3>Boxotel</h3>
                                <hr />
                            </div>
                            <p>Développement Web - Projet Scolaire</p>
                        </div>
                        <a href="">
                            <svg class="icon icon--slg icone_projet">
                                <use href="#icon-plus"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
