{% include "_partials/_header.html" %}

<section class="hero section">
    <div class="wrapper">
        <div class="hero__content content_detail_projet">
            <div class="content_text content_detail">
                <h1>Project: Rival</h1>
                <h2>Developpement we - Projet personnel</h2>
                <h3>Intégration et developpement HTML, CSS et JS d’un site archive de l’ensemble de cartes “Destined Rivals”</h3>
                <a href="" class="bouton">Voir le site</a>
            </div>
            <div class="content_media thumbnail_detail">
                <img src="assets/images/project_rival_thumbnail.png" alt="Project:Rival" />
            </div>
        </div>
    </div>
</section>

<section class="description section">
    <div class="wrapper">
        <div class="description__text">
            <h2>Qu'est-ce que Project: Rival?</h2>
            <p>
                Le site de Project : Rival est une archive dédiée pour l’archivage de cartes et de produits du même ensemble Pokémon TCG. Seuls les utilisateurs
                qui ont la passion de Pokémon connaissent bien Destined Rivals, l’ensemble de Team Rocket.
            </p>
            <div class="utilisations">
                <div class="logiciels">
                    <h3>Logiciels utilisés</h3>
                    <div class="icones_logiciels">
                        <svg class="icon icon--slg">
                            <use href="#icon-figma"></use>
                        </svg>
                        <svg class="icon icon--slg">
                            <use href="#icon-vs_code"></use>
                        </svg>
                    </div>
                </div>
                <div class="languages">
                    <h3>Logiciels utilisés</h3>
                    <div class="icones_languages">
                        <svg class="icon icon--slg">
                            <use href="#icon-html"></use>
                        </svg>
                        <svg class="icon icon--slg">
                            <use href="#icon-css"></use>
                        </svg>
                        <svg class="icon icon--slg">
                            <use href="#icon-js"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="ia">
                <h3>Utilisation de l’IA</h3>
                <p>Je n’ai pas utilisé l’IA pour ce projet.</p>
            </div>
        </div>
        <div class="description__media"></div>
    </div>
</section>

{% include "_partials/_footer.html" %}
