{% include "_partials/_header.html" %}

<section class="hero section">
    <div class="wrapper">
        <div class="hero__content content_detail_projet">
            <div class="content_text content_detail">
                <h1>Project: Rival</h1>
                <h2>Developpement we - Projet personnel</h2>
                <h3>Intégration et developpement HTML, CSS et JS d’un site archive de l’ensemble de cartes “Destined Rivals”</h3>
                <a href="" class="bouton">Voir le site</a>
            </div>
            <div class="content_media thumbnail_detail">
                <img src="assets/images/project_rival_thumbnail.png" alt="Project:Rival" />
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
