{% include "_partials/_header.html" %}

<section class="hero section">
    <div class="wrapper">
        <div class="hero__content content_detail_projet">
            <div class="content_text content_detail">
                <h1>VGM Entertainment</h1>
                <h2>Developpement web - Projet personnel</h2>
                <h3>Design et developpement HTML, CSS et JS d’un site répertoire de trames sonore de jeux vidéo</h3>
                <a href="https://felixlapointe13.github.io/vgm.entertainment.github.io/" target="_blank" class="bouton">Voir le site</a>
            </div>
            <div class="content_media thumbnail_detail">
                <img src="assets/images/vgm_entertainment_thumbnail.jpg" alt="VGM Entertainment" />
            </div>
        </div>
    </div>
</section>

<section class="description section">
    <div class="wrapper">
        <div class="description__text">
            <h2>Qu’est ce que VGM Entertainment?</h2>
            <p>
                VGM Entertainment est conçue comme un
                <strong>répertoire</strong>
                de
                <strong>trame sonore de jeux vidéo</strong>
                pour donner un accès plus rapide à l’écoute et à la
                <strong>recherche</strong>
                d’une bande sonore en particulier.
            </p>
            <div class="utilisations">
                <div class="utilisation">
                    <h3>Logiciels utilisés</h3>
                    <div class="icones_utilisation">
                        <svg class="icon icon--slg">
                            <use href="#icon-figma"></use>
                        </svg>
                        <svg class="icon icon--slg">
                            <use href="#icon-vs_code"></use>
                        </svg>
                    </div>
                </div>
                <div class="utilisation">
                    <h3>Languages utilisés</h3>
                    <div class="icones_utilisation">
                        <svg class="icon icon--slg">
                            <use href="#icon-html"></use>
                        </svg>
                        <svg class="icon icon--slg">
                            <use href="#icon-css"></use>
                        </svg>
                        <svg class="icon icon--slg">
                            <use href="#icon-js"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="ia">
                <h3>Utilisation de l’IA</h3>
                <p>Je n’ai pas utilisé l’IA pour ce projet.</p>
            </div>
        </div>
        <div class="description__media">
            <img src="assets/images/vgm_entertainment_section.jpg" alt="section cartes" />
            <p>La sélection de trame sonore</p>
        </div>
    </div>
</section>

<section class="carousel section">
    <div class="wrapper">
        <h2>Étapes:</h2>
        <div class="swiper" data-component="Carousel">
            <div class="swiper-wrapper">
                <div class="swiper-slide carte__carousel">
                    <div class="carte__media">
                        <img src="assets/images/vgm_entertainment/01-inspiration_comparable_vgm_entertainment.jpg" alt="Étape 1" />
                        <svg class="icon icone_carousel icon--lg">
                            <use href="#icon-size_up"></use>
                        </svg>
                    </div>
                    <div class="carte__content">
                        <h3>1 — Recherche d’inspiration et de comparables sur Google pour le site</h3>
                        <p>
                            Je recherche des
                            <strong>comparables</strong>
                            et des
                            <strong>inspirations</strong>
                            pour que ma recherche soit enrichi pour le
                            <strong>processus de création</strong>
                            du guide de style et de la maquette du site.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide carte__carousel">
                    <div class="carte__media">
                        <img src="assets/images/vgm_entertainment/02-guide_couleur_typo_vgm_entertainment.jpg" alt="Étape 2" />
                        <svg class="icon icone_carousel icon--lg">
                            <use href="#icon-size_up"></use>
                        </svg>
                    </div>
                    <div class="carte__content">
                        <h3>2 — Sélection de palette de couleur et de choix typographique sur Figma</h3>
                        <p>
                            Je poursuis la création de mon site en choisissant une
                            <strong>palette de couleur</strong>
                            impécable et en choisissant deux excellents
                            <strong>typographies</strong>
                            qui seront utilisées dans mes maquettes.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide carte__carousel">
                    <div class="carte__media">
                        <img src="assets/images/vgm_entertainment/03-maquette_vgm_entertainment.jpg" alt="Étape 3" />
                        <svg class="icon icone_carousel icon--lg">
                            <use href="#icon-size_up"></use>
                        </svg>
                    </div>
                    <div class="carte__content">
                        <h3>3 — Création des maquettes du site et organisation des sections dans Figma</h3>
                        <p>
                            Je conçois une maquette pour 3 différentes
                            <strong>pages</strong>
                            avec des différentes
                            <strong>sections</strong>
                            pour mon site web: la page d’accueil, la page des jeux vidéos et la page des artistes.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide carte__carousel">
                    <div class="carte__media">
                        <img src="assets/images/vgm_entertainment/04-integration_html_developpement_css_vgm_entertainment.jpg" alt="Étape 4" />
                        <svg class="icon icone_carousel icon--lg">
                            <use href="#icon-size_up"></use>
                        </svg>
                    </div>
                    <div class="carte__content">
                        <h3>4 — Intégration html et developpement css du site d’archive avec VS Code</h3>
                        <p>
                            Suite à la maquette, je conçois avec du
                            <strong>code html</strong>
                            et
                            <strong>css</strong>
                            les pages du site tout en gardant une
                            <strong>bonne organisation</strong>
                            des sections et des classes que j’utilise pour le css.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide carte__carousel">
                    <div class="carte__media">
                        <img src="assets/images/vgm_entertainment/06-programmation_composante_js_vgm_entertainment.jpg" alt="Étape 5" />
                        <svg class="icon icone_carousel icon--lg">
                            <use href="#icon-size_up"></use>
                        </svg>
                    </div>
                    <div class="carte__content">
                        <h3>5 — Programmation js et ajustement responsive du site sur VS Code</h3>
                        <p>
                            Après finaliser le css de base pour mon site, j’ai programmé des
                            <strong>composantes</strong>
                            et ajusté le
                            <strong>responsive</strong>
                            de mon site pour que ce soit calibrer pour le mobile.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide carte__carousel">
                    <div class="carte__media">
                        <img src="assets/images/vgm_entertainment/07-resultat_final_vgm_entertainment.jpg" alt="Étape 6" />
                        <svg class="icon icone_carousel icon--lg">
                            <use href="#icon-size_up"></use>
                        </svg>
                    </div>
                    <div class="carte__content">
                        <h3>6 - Résultat final de VGM Entertainment via le navigateur au choix</h3>
                        <p>
                            Maintenant que c’est tout finalisé, je peux survoler mon site sur un navigateur pour voir les
                            <strong>trames des jeux vidéos</strong>
                            et les
                            <strong>artistes</strong>
                            qui ont réalisés ces chef-d'oeuvres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

<section class="credits section">
    <div class="wrapper">
        <div class="credits__top">
            <h2>Crédits:</h2>
            <ul class="credits_liste">
                <li>Félix Lapointe: DA, design web et intégration/developpement web</li>
                <li>Images utilisées: Pexels et autres médias</li>
                <li>Trames sonores utilisées :</li>
                <div class="liste_trames">
                    <ul class="trames">
                        <li>1. Assassin’s Creed II</li>
                        <li>2. Minecraft</li>
                        <li>3. Pokémon Legends: Arceus</li>
                        <li>4. The Elder Scrolls V: Skyrim</li>
                        <li>5. Undertale</li>
                    </ul>
                    <ul class="trames">
                        <li>6. Assassin’s Creed IV: Black Flag</li>
                        <li>7. Persona 5</li>
                        <li>8. Legend of Zelda: Breath of the wild</li>
                        <li>9. Doom Eternal</li>
                        <li>10. Super Mario Galaxy 2</li>
                    </ul>
                </div>
            </ul>
        </div>
        <div class="bouton__credits">
            <a href="projets.html" class="bouton_secondaire">Voir autres projets</a>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
